
div.columnContainer {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    border-left: #3d82e3 4px solid;
}

div.columnContainer:first-child {
    border-left: none;
}

div.columnContainer:nth-child(odd) {
    background: #f9f9f9;
}

div.columnContainer:nth-child(even) {
    background: #ffffff;
}

div.columnContainer > div.columnTitle {
    width: 100%;
    margin-top: 2rem;
    padding-bottom: 2rem;
    font-size: 20pt;
    border-bottom: #3d82e3 4px solid;
}

div.columnContent .ant-card {
    margin: 1.5rem 1rem;
    max-width: 400px;
    min-width: 200px;
}
